<!doctype html>
<html lang="en">
    {% load static %}

<head>
    <meta charset="utf-8" />
    <title>Veuz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="" name="description" />
    <meta content="Coderthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="./static/admin/img/favicon.svg">



    <link rel="stylesheet" href="./static/admin/css/morris.css">
    <!-- App css -->
    <link href="./static/admin/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="./static/admin/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="./static/admin/css/style.css" rel="stylesheet" type="text/css" />
    <link href="./static/admin/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
        <script src="https://kit.fontawesome.com/6adc82e575.js" crossorigin="anonymous"></script>
</head>

<body class="">
   
    <!-- Begin page -->
    <div id="wrapper">
        <!-- ========== Left Sidebar Start ========== -->
        <div class="left side-menu">
            <div class="slimscroll-menu" id="remove-scroll">
                <!-- LOGO -->

                <div id="sidebar-menu" class="sidaber_menu">
                    <ul class="" id="side-menu">
                        <li>

                            <a class="splnav" href="dashboard"> <i class="fa fa-home"></i>
                                <p>Home</p>
                            </a>
                        </li>
                        <li>
                            <a href="user_management" class="splnav"> <i class="fa fa-address-book"></i>
                                <p>User Management</p>
                            </a>                         

                        </li>
                        <li>
                            <a class="splnav" href="role"> <i class="fa fa-calendar"></i>
                                <p>Role Management</p>
                            </a>
                        </li>
                        <li>
                            <a href="exam" class="splnav"> <i class="fa fa-user-circle"></i>
                                <p>Exam Management</p>
                            </a>
                        </li>
                      



                       


                    </ul>
                </div>



                <div class="clearfix"></div>
            </div>
            <!-- Sidebar -left -->
        </div>
        <!-- Left Sidebar End -->
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="content-page">
            <div class="topbar">

                <div class="navbar-header">

                    <div class="d-flex">
                        <div class="binance">
                            <img src="./static/admin/img/logo.png" alt="">
                        </div>




                    </div>

                 



                    <div class="d-flex align-items-center icns">



                      


                       

                        <div class="dropdown topbar-head-dropdown ms-1 header-item">

                            <i class="fas fa-bell fs-icn">
                                <span
                                    class="position-absolute topbar-badge fs-9 translate-middle badge rounded-pill bg-red">04</span></i>


                        </div>

                        <div class="dropdown header-item topbar-user king button-drpdown">

                            <span class="d-flex align-items-center drpdown-toggle">
                                <img class="header-profile-user" src="./static/admin/img/users/avatar-7.jpg" alt="Header Avatar">
                                <span class="text-start ms-xl-2">
                                    <span class="d-none d-xl-inline-block ms-1 fw-medium user-name-text">{{request.user}}</span>
                                    <i class="pro-icn fa fa-angle-down"></i>
                                </span>
                            </span>

                            <div class="drpdown-menu">

                                <h6 class="dropdown-header">Welcome {{request.user}}!</h6>
                                <a class="dropdown-item" href="#"><i
                                        class="mdi mdi-account-circle text-muted fs-16 align-middle me-1"></i> <span
                                        class="align-middle">Profile</span></a>
                                <a class="dropdown-item" href="#"><i
                                        class="mdi mdi-message-text-outline text-muted fs-16 align-middle me-1"></i>
                                    <span class="align-middle">Messages</span></a>

                                <a class="dropdown-item" href="#"><i
                                        class="fas fa-info-circle text-muted fs-16 align-middle me-1"></i> <span
                                        class="align-middle">Help</span></a>

                                <a class="dropdown-item" href="settings.html"><i
                                        class="fas fa-cog text-muted fs-16 align-middle me-1"></i> <span
                                        class="align-middle">Settings</span></a>

                                <a class="dropdown-item" href="#"><i
                                        class="mdi mdi-logout text-muted fs-16 align-middle me-1"></i> <span
                                        class="align-middle" data-key="t-logout">Logout</span></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>



            <!-- Start Page content -->
            <div class="content">
              

                {% block content %}

                {% endblock %}
            </div>

      

        </div>
        <!-- container -->
    </div>
    <!-- content -->


    <div id="user-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true" style="display: none">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title mt-0">Create New User</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="field-1" class="control-label">Name</label>
                            <input type="text" class="form-control" id="field-1" placeholder="Yourname">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="field-1" class="control-label">User Image</label>
                            <div class="input-group uploadFile1">
                               
                                <input type="file" class="inputfile form-control" name="file" >
                                <div class="input-group-append">
                                    <span class="input-group-text"> <i class="fas fa-paperclip"></i></span>
                                </div>
                            </div>
           
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="field-1" class="control-label">Company Name</label>
                            <input type="text" class="form-control" placeholder="Azure Interior">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="field-1" class="control-label">Username</label>
                            <input type="text" class="form-control" placeholder="Userame">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="field-1" class="control-label">Phone</label>
                            <input type="text" class="form-control" placeholder="9988776655">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="field-1" class="control-label">Email</label>
                            <input type="text" class="form-control" id="field-1" placeholder="yourmail@gmail.com">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="field-1" class="control-label">Password Option</label>
                            <div class="my-1 mx-1">
                                <div class="radio form-check-inline">
                                    <input type="radio" id="inlineRadio1" value="option1" name="radioInline" checked="checked">
                                    <label for="inlineRadio1"> Manual </label>
                                </div>
                                <div class="radio form-check-inline">
                                    <input type="radio" id="inlineRadio2" value="option2" name="radioInline">
                                    <label for="inlineRadio2"> Automatic </label>
                                </div>
                            </div>
                            <input type="text" class="form-control" id="field-1" placeholder="Enter Password">
                           
                        </div>
                    </div>
                   

    
                </div>



            </div>
            <div class="modal-footer">

                <button type="button" style="background-color:#f9365f!important;border: none!important;"
                    class="btn btn-info waves-effect waves-light">Save </button>
            </div>
        </div>
    </div>
</div>

    <script src="./static/admin/js/jquery.min.js"></script>
    <script src="./static/admin/js/custome.js"></script>
    <script src="./static/admin/js/bootstrap.bundle.min.js"></script>
    <script src="./static/admin/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="./static/admin/plugins/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="./static/admin/plugins/datatables/dataTables.responsive.min.js"></script>
    <script src="./static/admin/plugins/datatables/responsive.bootstrap4.min.js"></script>
    <script src="./static/admin/plugins/datatables/datatables.init.js"></script>

    <script>
        $(document).ready(function() {
            $('#datatable').dataTable();
            $('#datatable-keytable').DataTable({
                keys: true
            });
            $('#datatable-responsive').DataTable();
            $('#datatable-scroller').DataTable({
                ajax: "plugins/datatables/json/scroller-demo.json",
                deferRender: true,
                scrollY: 380,
                scrollCollapse: true,
                scroller: true
            });
            var table = $('#datatable-fixed-header').DataTable({
                fixedHeader: true
            });
        });
        TableManageButtons.init();
    </script>


    <script>
        $("a.splnav").click(function () {
            $("a.splnav").css("background-color", "#222");
            $(this).css("background-color", "black");
            // $(this).css("border-left", "3px solid #6e56a3");
        });
    </script>
    <script>
        jQuery(document).ready(function (e) {
            function t(t) {
                e(t).bind("click", function (t) {
                    t.preventDefault();
                    e(this).parent().fadeOut()
                })
            }
            e(".drpdown-toggle").click(function () {
                var t = e(this).parents(".button-drpdown").children(".drpdown-menu").is(":hidden");
                e(".button-drpdown .drpdown-menu").hide();
                e(".button-drpdown .drpdown-toggle").removeClass("active");
                if (t) {
                    e(this).parents(".button-drpdown").children(".drpdown-menu").toggle().parents(
                        ".button-drpdown").children(".drpdown-toggle").addClass("active")
                }
            });
            e(document).bind("click", function (t) {
                var n = e(t.target);
                if (!n.parents().hasClass("button-drpdown")) e(".button-drpdown .drpdown-menu").hide();
            });
            e(document).bind("click", function (t) {
                var n = e(t.target);
                if (!n.parents().hasClass("button-drpdown")) e(".button-drpdown .drpdown-toggle")
                    .removeClass("active");
            })
        });
    </script>
    <script>
        let searchIcon = document.querySelector(".search-bar__search-icon"),
            closeIcon = document.querySelector(".search-bar__close-icon .far"),
            searchBar = document.querySelector(".search-bar"),
            searchInput = document.querySelector(".search-bar__search-input input")


        searchIcon.onclick = () => {
            searchBar.classList.toggle("search-bar--active")
        }


        closeIcon.onclick = () => {
            searchInput.value = ""
            searchInput.focus()
        }



        searchInput.onfocus = function () {
            let place = this.getAttribute("placeholder")
            this.setAttribute("data", `${place}`)
            this.removeAttribute("placeholder")
        }

        searchInput.onblur = function () {
            this.setAttribute("placeholder", `${this.getAttribute("data")}`)
        }
    </script>

<style>
    #swal2-title{
        font-size: 12px!important;
    }
</style>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

{% if messages %}
<script>
    {% for message in messages %}
 

    var toastMixin = Swal.mixin({
    toast: true,
    icon: '{{message.tags}}',
    title: 'General Title',
    animation: false,
    position: 'top-right',
    showConfirmButton: false,
    timer: 3000,
    timerProgressBar: true,
    didOpen: (toast) => {
    toast.addEventListener('mouseenter', Swal.stopTimer)
    toast.addEventListener('mouseleave', Swal.resumeTimer)
    }
    });
    toastMixin.fire({
    animation: true,
    title: "{{message}}"
    });
    {% endfor %}

</script>
{% endif %}
</body>

</html>
