{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="content">
    <div class="container-fluid margin-class-this">
        <div class="row">
            <div class="col-md-12 px-0">
                <div class="card card-shadow">

                    <div class="card-body body-change card-border">
                        <div class="d-flex align-items-center justify-content-between">
                            <h2 class="main-heading-txt">Exam Management</h2>
                           <a href="exam-create"> <button type="button" class="btn btn-pink waves-effect waves-light w-md m-b-5"><i class="fa fa-plus mr-1"></i>Create</button></a>
                           
                        </div>

                        <div class="row mt-4">

                            <div class="col-md-12 col-sm-12 col-12 px-0">
                                <table id="datatable" class="table table-striped dt-responsive table-bordered nowrap table-padd" style="border-collapse: collapse; border-spacing: 0; width: 100%;">

                                    <thead class="border-class">

                                        <tr class="heading-text">
                                            <th>S/No</th>                                                     
                                            <th>Exam Title</th>
                                            <th>Responsible</th>
                                            <th>Created at</th>
                                            <th>Questions</th>
                                            <th>Average Duration</th>
                                            <th>Registered</th>
                                            <th>Completed</th>
                                            <th>Status</th>
                                            <th></th>
                                            <th></th>
                                           
                                        </tr>
                                    </thead>


                                    <tbody class="body-textcls vertcle-center">
                                        {% for i in exam_details %}
                                        <tr>
                                            <td>{{forloop.counter}}.</td>
                                            <td>{{i.Exam_title}}</td>
                                            <td>
                                                <div class="created-user d-flex align-items-center">
                                                    <img src="./static/admin/img/users/avatar-5.jpg" alt="">
                                                    <h6>{{i.responsible_person}}</h6>
                                                </div>
                                            </td>
                                          
                                            <td>{{i.created_dt|safe}}</td>
                                            <td>20</td>
                                            <td>02:00</td>
                                            <td>5</td> 
                                            <td>4</td>
                                            <td>
                                                <h6 class="mt-0 mb-1">Certified</h6>
                                                <div class="progress-container" data-percentage='50'>
                                                    <div class="progress"></div>
                                                    <div class="percentage">0%</div>
                                                  </div>                  
                                            </td>
                                            <td>
                                                <button type="button" class="btn sv-btn waves-effect waves-light m-b-5 exm-btns">Test</button>
                                                 <a href="attend_user?exam_id={{i.id}}"><button type="button" class="btn btn-see waves-effect m-b-5 exm-btns">Attended User</button></a>                                            </td>
                                            <td>
                                                <div class="action-tbl d-flex justify-content-end">
                                                    <button type="button" class="btn share-btn mx-1" data-toggle="modal" data-target="#share-modal"><span class="fa fa-share mx-1" data-toggle="tooltip" data-placement="top" title="" data-original-title="Share"></span></button>
                                                    
                                                    <a href="edit_exam?type={{i.id}}">
                                                    <i class="fa fa-pencil mx-1 pencil-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"></i>
                                                </a>
                                                    <i style="cursor: pointer;" class="fa fa-trash-o mx-1 trash-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete" onclick="exam_delete_btn(`{{i.id}}`)"></i>                                         
                                                </div>
                                            </td>
                                        </tr>

                                        {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="delete_initial_field_div12">

</div>


<script>
    function exam_delete_btn(data){

        var url = "exam_details_delete";
                    $.ajax({
                        url: url,
                        data: {
                            'id': data
                        },
                        success: function (data) {
                            $("#delete_initial_field_div12").html(data);
                            $('#delete_initial_field_modal12').modal('show');
                        }
                    });
    }
</script>


{% endblock %}