{% extends 'base.html' %}

{% load static %}

{% block content %} 

<style>
    #scoring_ans, #no_score{
        accent-color: #1e4561; 
    }
</style>


<form class="forms-sample submit_action" name="exam_form"  action="exam_save_action"  method="POST" enctype="multipart/form-data">
    {% csrf_token %}
<div class="content">
    <div class="container-fluid margin-class-this">
        <div class="row">
            <div class="col-md-12 px-0">
                <div class="card card-shadow">

                    <div class="card-body body-change card-border">
                        <div class="d-flex align-items-center justify-content-between">
                            <h2 class="main-heading-txt"></h2>
                            <div class="d-flex"> 
                     
                                <!-- <button type="button" class="btn btn-outline-pink waves-effect waves-light m-b-5 mx-1" data-toggle="modal" data-target="#share-modal"><i class="fa fa-share mr-1"></i>Share</button>
                                <button type="button" class="btn btn-outline-pink waves-effect waves-light m-b-5 mx-1"><i class="fa fa-print mr-1"></i>Print</button> -->
                                <a href="exam"><button type="button" class="btn btn-outline-pink waves-effect waves-light m-b-5 mx-1"><i class="fas fa-times mr-1"></i>Close</button></a>
                                <a href=""> <button type="submit" class="btn btn-pink waves-effect waves-light m-b-5">Save</button></a>
                            </div>
                        
                           
                        </div>

                        <div class="row mt-4">

                            <div class="col-md-5 col-sm-12 col-12 px-0">
                                <div class="form-group exam-titl">
                                    <label for="field-1" class="control-label">Exam Title</label>
                                    <input type="text" required name="exam_title" placeholder="Exam Title" class="form-control" id="field-1">
                                </div>

                            </div>

                            <div class="col-md-7" style="float: right;">
                                <div class="col-md-12">
                                       <div class="form-group"> 
                                         <style>
                                            .uploadFile1 .inputfile::-webkit-file-upload-button {
                                            display: none;
                                        }
                                         </style>
                                              <div class="input-group uploadFile1" style="width: 35%;
                                              float: right;">
                                                <input type="file" accept="image/*"  class="inputfile form-control" name="exam_background"  > 
                                                   <div class="input-group-append"><span class="input-group-text"> <i class="fa fa-user"></i></span> 
                                                   </div> 
                                                   </div> 
                                                 </div> 
                                            </div>
                                </div>


                            <div class="col-12 px-0">
                                <div class="d-flex">
                                    <div class="form-group exam-titl mr-3">
                                        <label for="field-1" class="control-label">Responsible</label>
                                        <div class="responsbl d-flex">
                                            <img src="./static/admin/img/users/avatar-4.jpg" alt="">
                                            <select required name="responsible_name" id="" class="form-control">
                                                <option value="">Select User</option>
                                                {% for i in user_details %}
            
                                                <option value="{{i.id}}">{{i.username}}</option>
                                    
                                                {% endfor %}
                                            
                                            </select>
                                        </div>
                                    
                                    </div>
                                    <div class="form-group responsbl ">
                                        <label for="field-1" class="control-label">Language</label>
                                        <span style="color: red;
                                        font-weight: bold;">(Default English)</span>

                                    <div class="responsbl d-flex">

                                    <input type="hidden" name="language_type" value="en"  >  
                                    <input type="checkbox" name="language_type" value="ar" data-id="ar" class="lang_class">&ensp; <span style="font-size: 12px;" >Arabic</span>  &ensp;
                                    <input type="checkbox" name="language_type" value="hi" data-id="hi" class="lang_class">&ensp; <span style="font-size: 12px;" >Hindi </span>  &ensp;
                                    <input type="checkbox" name="language_type" value="ur" data-id="ur" class="lang_class">&ensp; <span style="font-size: 12px;" >Urdu </span> &ensp;
                                    <input type="checkbox" name="language_type" value="ta" data-id="ta" class="lang_class">&ensp; <span style="font-size: 12px;" >Tamil </span>
                                    </div>                                            
                                           
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                
                            </div>

                            <div class="col-md-12 px-0 mt-3">
                                <div class="paytab">
                                    <ul class="nav nav-tabs nav-pay mb-2" role="tablist">
                                        <li class="nav-item d-flex align-items-center">
                                            <a class="nav-link active" data-toggle="tab" href="#Questions"
                                                role="tab">
                                               Questions
                                            </a>
                                        </li>
                                        <li class="nav-item d-flex align-items-center">
                                            <a class="nav-link" data-toggle="tab" href="#Options"
                                                role="tab">
                                                Options
                                            </a>
                                        </li>
                                        <li class="nav-item d-flex align-items-center">
                                            <a class="nav-link" data-toggle="tab" href="#Startmessage"
                                                role="tab">
                                                Start Message
                                            </a>
                                        </li>
                                        <li class="nav-item d-flex align-items-center">
                                            <a class="nav-link" data-toggle="tab" href="#Endmessage"
                                                role="tab">
                                                End Message
                                            </a>
                                        </li>
                                        <li class="nav-item d-flex align-items-center">
                                            <a class="nav-link" data-toggle="tab" href="#initialfield"
                                                role="tab">
                                                Initial Fields
                                            </a>
                                        </li>
                                        <li class="nav-item d-flex align-items-center">
                                            <a class="nav-link" data-toggle="tab" href="#generalinstructions"
                                                role="tab">
                                                General Instructions
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="tab-content small-form">
                                        <div class="tab-pane active" id="Questions" role="tabpanel">
                                            <div class="mt-4">
                                                <div class="mb-2">
                                                    <button type="button"
                                                    class="btn btn-prim pay" data-toggle="modal"
                                                    data-target="#addsection">
                                                    Add a Section
                                                </button>
                                                <button type="button" style="cursor: pointer;"  class="btn btn-prim pay dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  >
                                                            <div style="padding: 18px 5px 10px;" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                                <div style="padding: 3px 2px;
                                                                background: black;
                                                                color: white;
                                                                font-size: 12px;
                                                                margin: 7px 1px; border-radius: 5px;" onclick="direct_question_btn()"><span style="margin:4px 4px;">Direct Question</span>  </div>
                                                                
                                                                <div style="padding: 3px 2px;
                                                                background: black;
                                                                color: white;
                                                                font-size: 12px;
                                                                margin: 7px 1px; border-radius: 5px;"><span style="margin:4px 4px;">Pick from question bank</span>  </div>
                                                                
                                                            </div>
                                                
                                                Add a question
                                                </button>
                                                </div>
                                                <table  class="table table-qstn dt-responsive table-bordered nowrap table-padd" style="border-collapse: collapse; border-spacing: 0; width: 100%;">

                                                    <thead class="border-class">
    
                                                        <tr class="heading-text">                                                        
                                                            <th>Title</th>
                                                            <th>Question Type</th>
                                                            <th></th>
                                                           
                                                        </tr>
                                                    </thead>
    
    
                                                    <tbody id="append_table" class="body-textcls vertcle-center">
                                                       

                                                    </tbody>
                                                </table>
                                                
                                            </div>


                                        </div>


                                        <!-- Options tab -->

                                        <div class="tab-pane sales_purchase" id="Options" role="tabpanel">

                                            <div class="row mb-2 question-options">
                                                <div class="col-md-6 px-0">
                                                    <h5>Questions</h5>

                                                    <div class="row">
                                                        <div
                                                            class="col-md-3 br-right d-flex align-items-start px-0">
                                                            <h6>Pagination</h6>
                                                        </div>
                                                        <div class="col-md-9 py-2">
                                                            <div class="form-group d-flex align-items-center">
                                                                <input type="radio" value="0" checked  name="layout" id="customer">
                                                                <label for="customer">One page with all the questions</label>
                                                               
                                                            </div>
                                                            <div class="form-group d-flex align-items-center">
                                                                <input type="radio" value="1"  name="layout" id="customer">
                                                                <label for="customer">One page per section</label>
                                                            </div>
                                                            <div class="form-group d-flex align-items-center">
                                                                <input type="radio" value="2"  name="layout" id="customer">
                                                                <label for="customer">One page per question</label>
                                                                
                                                            </div>
                                                          
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div
                                                            class="col-md-3 br-right d-flex align-items-start px-0">
                                                            <h6>Display Progress as</h6>
                                                        </div>
                                                        <div class="col-md-9 py-2">
                                                            <div class="form-group d-flex align-items-center">
                                                                <input type="radio" checked value="Percentage" name="progression" id="customer">
                                                                <label for="customer">Percentage left</label>
                                                            </div>
                                                            <div class="form-group d-flex align-items-center">
                                                                <input type="radio" value="Number" name="progression" id="customer">
                                                                <label for="customer">Number</label>
                                                            </div>
                                                        
                                                          
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div
                                                            class="col-md-3 br-right d-flex align-items-start px-0">
                                                            <h6>Question Selection</h6>
                                                        </div>
                                                        <div class="col-md-9 py-2">
                                                            <div class="form-group d-flex align-items-center">
                                                                <input type="radio" checked value="All questions" id="customer" name="selection_mode">
                                                                <label for="customer">All questions</label>
                                                            </div>
                                                            <div class="form-group d-flex align-items-center">
                                                                <input type="radio" value="Randomized per section" id="customer" name="selection_mode">
                                                                <label for="customer">Randomized per Section</label>
                                                            </div>
                                                        
                                                          
                                                        </div>
                                                    </div>

                                                    <!-- <div class="row">
                                                        <div
                                                            class="col-md-3 br-right d-flex align-items-center px-0">
                                                            <h6>Back Button</h6>
                                                        </div>
                                                        <div class="col-md-9">
                                                            <div class="form-group mt-2 d-flex align-items-center">
                                                                <input type="checkbox" id="customer">
                                                               
                                                            </div>
                                                        </div>
                                                    </div> -->
                                                    
                                                </div>
                                                <div class="col-md-6">
                                                    <h5>Participants</h5>

                                           
                                                    <div class="row">
                                                        <div
                                                            class="col-md-3 br-right d-flex align-items-center px-0">
                                                            <h6>Access Mode</h6>
                                                        </div>
                                                        <div
                                                            class="col-md-5 d-flex align-items-center m-l-10">
                                                            <select name="access_mode" id="" class="form-control">
                                                                <option value="0">Anyone with the link</option>
                                                                <option value="1">Invited people only</option>
                                                             

                                                            </select>
                                                        </div>
                                                    </div>


                                                    <div class="row">
                                                        <div
                                                            class="col-md-3 br-right d-flex align-items-center px-0">
                                                            <h6>Require Login</h6>
                                                        </div>
                                                        <div
                                                            class="col-md-9 d-flex align-items-center r-day">
                                                            <input type="checkbox" id="login_required" value="True" name="login_required">
                                                        </div>
                                                    </div>


                                                    <div class="row" id="attemp_lim" style="display:none;">
                                                        <div
                                                            class="col-md-3 br-right d-flex align-items-center px-0">
                                                            <h6>Attempts Limit</h6>
                                                        </div>
                                                        <div
                                                            class="col-md-1 d-flex align-items-center r-day">
                                                            <input type="checkbox">
                                                        </div>
                                                        <div
                                                        class="col-md-1 d-flex align-items-center r-day">
                                                        <input style="border: 1px solid #e8ecf1;
                                                        font-size: 0.8125rem;" value="1" name="attempt_limit" type="number" placeholder="attempts">
                                                        <span style="font-size: 10px;">attempts</span>
                                                    </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6 px-0">
                                                    <h5>Time & Scoring</h5>

                                                    <div class="row">
                                                        <div
                                                            class="col-md-3 br-right d-flex align-items-center px-0 px-0">
                                                            <h6>Exam Time Limit</h6>
                                                        </div>
                                                        <div
                                                        class="col-md-7 d-flex align-items-center r-day">
                                                        <input type="checkbox" name="exam_check" value="True" id="exam_check">
                                                        <div id="show_timelimit" style="display: none;">
                                                            <input  style="border: 1px solid #e8ecf1;
                                                           
                                                            font-size: 0.8125rem;" value="10:00" type="text" name="exam_time_limit" placeholder="10:00"> <span style="font-size: 10px;">minutes</span>
                                                            </div>
                                                    </div>
                                                    </div>
                                                    <div class="row">
                                                        <div
                                                            class="col-md-3 br-right d-flex align-items-start px-0">
                                                            <h6>Scoring</h6>
                                                        </div>
                                                        <div class="col-md-9 py-2">
                                                            <div class="form-group d-flex align-items-center">
                                                                <input type="radio" id="no_score" checked value="0" name="Scoring">
                                                                <label for="no_score">No scoring</label>
                                                            </div>
                                                            <div class="form-group d-flex align-items-center">
                                                                <input type="radio" id="scoring_ans" value="1" name="Scoring">
                                                                <label for="scoring_ans">Scoring with answers at the end</label>
                                                            </div>
                                                            <div class="form-group d-flex align-items-center">
                                                                <input type="radio" id="customer" value="2" name="Scoring">
                                                                <label for="customer">Scoring without answers at the end</label>
                                                            </div>
                                                          
                                                        </div>
                                                    </div>
                                                    <div class="row" id="req_score" style="display:none;">
                                                        <div
                                                            class="col-md-3 br-right d-flex align-items-center px-0">
                                                            <h6>Required Score (%)</h6>
                                                        </div>
                                                        <div class="col-md-1">
                                                            <input type="text" name="required_score" class="form-control" value="80">
                                                           
                                                          
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div
                                                            class="col-md-3 br-right d-flex align-items-center px-0 px-0">
                                                            <h6>Is a Certification</h6>
                                                        </div>
                                                        <div
                                                        class="col-md-7 d-flex align-items-center r-day">
                                                        <input type="checkbox" id="r-day">
                                                    </div>
                                                    </div>

                                                </div>


                                                <!-- <div class="col-md-6">
                                                    <h5>Live Session</h5>

                                                    <div class="row">
                                                        <div
                                                            class="col-md-3 br-right d-flex align-items-center px-0">
                                                            <h6>Session Code</h6>
                                                        </div>
                                                        <div
                                                            class="col-md-2 d-flex align-items-center">
                                                            <input type="text" class="form-control"
                                                                value="2168">
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div
                                                            class="col-md-3 br-right d-flex align-items-center px-0">
                                                            <h6>Session Link</h6>
                                                        </div>
                                                        <div
                                                            class="col-md-7 d-flex align-items-center">
                                                            <div class="input-group uploadFile1">
                   
                                                                <input type="text" class="form-control" name="url" value="https://demo4.odoo.com/survey/start/b137640d-9876-1234-abcd-344ca256531e">
                                                                <div class="input-group-append">
                                                                    <span class="input-group-text"> <i class="fas fa-copy" aria-hidden="true"></i></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div
                                                            class="col-md-3 br-right d-flex align-items-center px-0">
                                                            <h6>Reward quick answers</h6>
                                                        </div>
                                                        <div
                                                        class="col-md-7 d-flex align-items-center r-day">
                                                        <input type="checkbox" id="r-day">
                                                     </div>
                                                     </div>
                                                </div> -->


                                            </div>

                                        </div>

                                         <!-- Startmessage tab -->

                                        <div class="tab-pane descptn" id="Startmessage" role="tabpanel">


                                            <div class="row">
                                                <div class="col-md-12 px-0">
                                                    <textarea name="start_message" id="" cols="30" rows="5"
                                                        class="form-control border-0"
                                                        placeholder="Start Message..."></textarea>
                                                </div>
                                            </div>

                                        </div>

                                         <!-- Endmessage tab -->

                                        <div class="tab-pane descptn" id="Endmessage" role="tabpanel">
                                            <div class="row">
                                                <div class="col-md-12 px-0">
                                                    <textarea name="end_message" id="" cols="30" rows="5"
                                                        class="form-control border-0"
                                                        placeholder="End Message..."></textarea>
                                                </div>
                                            </div>

                                        </div>

                                         <!-- initialfield tab -->

                                        <div class="tab-pane" id="initialfield" role="tabpanel">
                                            <div class="mt-4">
                                                <div class="mb-2">
                                                    <button type="button"
                                                    class="btn btn-prim pay add_exam_field">
                                                    Add a Line
                                                    </button>
                                              
                                                </div>
                                                <table  class="table table-qstn table-input dt-responsive table-bordered nowrap table-padd" style="border-collapse: collapse; border-spacing: 0; width: 100%;">

                                                    <thead class="border-class">
    
                                                        <tr class="heading-text">                                                        
                                                            <th style="width: 300px">Input Title</th>
                                                            <th style="width: 300px">Input Type</th>
                                                            <th>Inputs</th>
                                                            <th></th>
                                                           
                                                        </tr>
                                                    </thead>
    
    
                                                    <tbody id="append_inital_field" class="body-textcls vertcle-center">
                                                        
                                                        
                                                  
                                                    </tbody>

                                                </table>
                                                
                                                
                                                
                                              
                                            </div>

                                        </div>


                                         <!-- generalinstructions tab -->

                                         <div class="tab-pane" id="generalinstructions" role="tabpanel">
                                            <div class="mt-4">
                                                <div class="mb-2">
                                                    <button type="button"
                                                    class="btn btn-prim pay add_instruction">
                                                    Add a Line
                                                    </button>
                                              
                                                </div>
                                                <table  class="table table-qstn table-input dt-responsive table-bordered nowrap table-padd" style="border-collapse: collapse; border-spacing: 0; width: 100%;">

                                                    <thead class="border-class">
    
                                                        <tr class="heading-text">                                                        
                                                            <th style="width: 300px">Instruction</th>
                                                           
                                                            <th></th>
                                                           
                                                        </tr>
                                                    </thead>
    
    
                                                    <tbody id="append_instruction" class="body-textcls vertcle-center">
                                                        
                                                        
                                                  
                                                    </tbody>

                                                </table>
                                                
                                                
                                                
                                              
                                            </div>

                                        </div>

                                       

                                    </div>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
          </div>
    </div>
</div>


<div class="direct_question_modal">

</div>

</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div id="addsection" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
aria-hidden="true" style="display: none">
<div class="modal-dialog modal-md modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title mt-0">Add a Section</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="field-1" class="control-label">Section Name</label>
                        <input type="text" class="form-control section_title" id="field-1" placeholder="Section Name">
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" style="background-color:#f9365f!important;border: none!important;"
                class="btn btn-info waves-effect waves-light section_btn">Save </button>
        </div>
    </div>
</div>
</div>


    <script>
        $(document).ready(function() {
            $('#datatable').dataTable();
            $('#datatable-keytable').DataTable({
                keys: true
            });
            $('#datatable-responsive').DataTable();
            $('#datatable-scroller').DataTable({
                ajax: "plugins/datatables/json/scroller-demo.json",
                deferRender: true,
                scrollY: 380,
                scrollCollapse: true,
                scroller: true
            });
            var table = $('#datatable-fixed-header').DataTable({
                fixedHeader: true
            });
        });
        TableManageButtons.init();
    </script>


    <script>
        $("a.splnav").click(function () {
            $("a.splnav").css("background-color", "#222");
            $(this).css("background-color", "black");
            // $(this).css("border-left", "3px solid #6e56a3");
        });
    </script>
    <script>
        jQuery(document).ready(function (e) {
            function t(t) {
                e(t).bind("click", function (t) {
                    t.preventDefault();
                    e(this).parent().fadeOut()
                })
            }
            e(".drpdown-toggle").click(function () {
                var t = e(this).parents(".button-drpdown").children(".drpdown-menu").is(":hidden");
                e(".button-drpdown .drpdown-menu").hide();
                e(".button-drpdown .drpdown-toggle").removeClass("active");
                if (t) {
                    e(this).parents(".button-drpdown").children(".drpdown-menu").toggle().parents(
                        ".button-drpdown").children(".drpdown-toggle").addClass("active")
                }
            });
            e(document).bind("click", function (t) {
                var n = e(t.target);
                if (!n.parents().hasClass("button-drpdown")) e(".button-drpdown .drpdown-menu").hide();
            });
            e(document).bind("click", function (t) {
                var n = e(t.target);
                if (!n.parents().hasClass("button-drpdown")) e(".button-drpdown .drpdown-toggle")
                    .removeClass("active");
            })
        });
    </script>
    <script>
        let searchIcon = document.querySelector(".search-bar__search-icon"),
            closeIcon = document.querySelector(".search-bar__close-icon .far"),
            searchBar = document.querySelector(".search-bar"),
            searchInput = document.querySelector(".search-bar__search-input input")


        searchIcon.onclick = () => {
            searchBar.classList.toggle("search-bar--active")
        }


        closeIcon.onclick = () => {
            searchInput.value = ""
            searchInput.focus()
        }



        searchInput.onfocus = function () {
            let place = this.getAttribute("placeholder")
            this.setAttribute("data", `${place}`)
            this.removeAttribute("placeholder")
        }

        searchInput.onblur = function () {
            this.setAttribute("placeholder", `${this.getAttribute("data")}`)
        }
    </script>
    <script>
        const progressContainer = document.querySelector('.progress-container');
        setPercentage();

        function setPercentage() {
            const percentage = progressContainer.getAttribute('data-percentage') + '%';

            const progressEl = progressContainer.querySelector('.progress');
            const percentageEl = progressContainer.querySelector('.percentage');

            progressEl.style.width = percentage;
            percentageEl.innerText = percentage;
            percentageEl.style.left = percentage;
        }
    </script>
        <script>
            const TagsInput1 = props => {
                const [tags1, setTags1] = React.useState(props.tags1);
                const removeTags1 = indexToRemove => {
                    setTags1([...tags1.filter((_, index) => index !== indexToRemove)]);
                };
                const addTags1 = event => {
                    if (event.target.value !== "") {
                        setTags1([...tags1, event.target.value]);
                        props.selectedTags1([...tags1, event.target.value]);
                        event.target.value = "";
                    }
                };
                return /*#__PURE__*/ (
                    React.createElement("div", {
                            className: "tags-input1"
                        }, /*#__PURE__*/
                        React.createElement("ul", {
                                id: "tags1"
                            },
                            tags1.map((tag1, index) => /*#__PURE__*/
                                React.createElement("li", {
                                        key: index,
                                        className: "tag1"
                                    }, /*#__PURE__*/
                                    React.createElement("span", {
                                        className: "tag-title1"
                                    }, tag1), /*#__PURE__*/
                                    React.createElement("span", {
                                        className: "tag-close-icon1",
                                        onClick: () => removeTags1(index)
                                    }, "x")))), /*#__PURE__*/
    
                        React.createElement("input", {
                            type: "text",
                            onKeyUp: event => event.key === "Enter" ? addTags1(event) : null,
                            placeholder: "Mail id"
                        })));
            };
    
            const App1 = () => {
                const selectedTags1 = tags1 => {
                    console.log(tags1);
                };
                return /*#__PURE__*/ (
                    React.createElement("div", {
                            className: "App1"
                        }, /*#__PURE__*/
                        React.createElement(TagsInput1, {
                            selectedTags1: selectedTags1,
                            tags1: ['user@gmail.com']
                        })));
    
            };
    
            ReactDOM.render( /*#__PURE__*/ React.createElement(App1, null), document.getElementById("root1"));
        </script>


    <script>
        $("#login_required").click(function() {
 
       login_required =  $("#login_required").is(":checked")
       if (login_required == true){
 
         $("#attemp_lim").show()
 
       }
       else{
         $("#attemp_lim").hide()
 
       }
     })

 
     $("#exam_check").click(function() {
 
       exam_check =  $("#exam_check").is(":checked")
     if (exam_check == true){
 
       $("#show_timelimit").show()
 
     }
     else{
       $("#show_timelimit").hide()
 
     }
     })

     $("#scoring_ans").click(function() {
 
        scoring_ans =  $("#scoring_ans").is(":checked")
        
        if (scoring_ans == true){

        $("#req_score").show()

        }
        })


        $("#scoring_ans").click(function() {
            no_score = $("#no_score").is(":checked")

            if(no_score == true){
        $("#req_score").hide()

        }
    })


 
     </script>



<script>

    intital_value = 1
    $(".add_exam_field").click(function(){
     
      $("#append_inital_field").append(

        ` <tr class="init_remove`+intital_value+`">
                <td>
                    <input type="text" placeholder="Title" name="initial_label`+intital_value+`" id="" class="form-control">
                    <input type="hidden" class="initial_count" name="initial_count" value='`+intital_value+`'>
                    </td>
                <td>
                    <select class="form-control initial_type`+intital_value+`" name="initial_type`+intital_value+`">
                        <option value="Text Input" selected="">Text Input</option>
                        <option value="selection">Selection</option>
                        <option value="Date Field">Date Field</option>
                    
                    </select>
                </td>
                <td id='multiple_choice`+intital_value+`'>
                    <a href="#" style="font-size: 16px;float:right;
                color: black;"  onclick="multiple_choice_add(`+intital_value+`)">+</a>
                <input type="text" >
                    
                </td>
                <td> <div class="action-tbl d-flex justify-content-end mt-1">
                        
                    <i class="fa fa-trash-o mx-1 trash-btn"  onclick="initial_field_remove(`+intital_value+`)" data-original-title="Delete"></i>
                
                </div></td>
           
            </tr>`                       
             
      )
      intital_value = intital_value + 1
    })


    instruction_value = 1
    $(".add_instruction").click(function(){
     
      $("#append_instruction").append(

        ` <tr class="instruct_remove`+instruction_value+`">
                <td>
                    <input type="text" placeholder="Instruction" name="instruction_label`+instruction_value+`" id="" class="form-control">
                    <input type="hidden" class="instruction_count" name="instruction_count" value='`+instruction_value+`'>
                    </td>
                
                    <td><div class="action-tbl d-flex justify-content-end mt-1">
                        
                    <i class="fa fa-trash-o mx-1 trash-btn"  onclick="instruction_field_remove(`+instruction_value+`)" data-original-title="Delete"></i>
                
                </div></td>
           
            </tr>`                       
             
      )
      instruction_value = instruction_value + 1
    })


  
    function multiple_choice_add(val){
  
      $("#multiple_choice"+val).append(
        `<input class="form-control" placeholder="Enter your option" type="text" name="initial_answer`+val+`">`
      )
    }
  </script>



<script>

    let i = 1
    $(".section_btn").click(function(){
      var section_string = $(".section_title").val();
      if(section_string == ''){

      }
      else{

        $("#append_table").append(`
        
        <tr class="tr_remove`+i+`">
          <td  style="background-color: #f3f6f8"><b>`+section_string+`</b>  </td>
          <td style="background-color: #f3f6f8">
            <input type="hidden" value=`+i+` id="section_id`+i+`">
            <input type="hidden" name='section_line_count' value=`+i+`>
            <input type="hidden" name="modal_status" value = "False">
            <input type="hidden" class="section_status`+i+`" name="section_status" value = "False">
            <input type="hidden" class="section_line" value="`+section_string+`" name='section_line'>
            <input type="hidden" class="first_open`+i+`" value="first">
            
            <button type="button" onclick="section_question(`+i+`)"
              class="btn btn-prim pay">
              Add a question
            </button></td>
          <td style="background-color: #f3f6f8">
            
              <div class="action-tbl d-flex justify-content-end">
                  
                <i class="fa fa-trash-o mx-1 trash-btn" onclick="section_remove(`+i+`)" data-toggle="tooltip" data-original-title="Delete"></i>
              
              </div>
          </td>
      </tr>
      <tr class="tr_remove2`+i+`">
          <td colspan="3">
              <table  class="table-bordered" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                  <thead class="border-class">
                      <tr class="heading-text">                                                        
                        <th>Title</th>
                        <th>Question Type</th>
                        <th></th>
                          
                      </tr>
                  </thead>

                  <tbody class="body-textcls vertcle-center" id="apppend_child`+i+`">

                  </tbody>
                  
              </table>
          </td>
      </tr>

        `)

        i = i + 1
         $(".section_title").val('');
         $('#addsection').modal('hide');
      }
    })


    function section_remove(val){
     
      var tr_id = val
     $('.tr_remove'+tr_id).hide()
     $('.tr_remove2'+tr_id).hide()
     div_update = document.getElementsByClassName("tr_remove"+tr_id).innerHTML = "";
     $('.tr_remove'+tr_id).empty()
     }

    function initial_field_remove(val){
    
    var tr_id = val
    $('.init_remove'+tr_id).hide()
    div_update = document.getElementsByClassName("init_remove"+tr_id).innerHTML = "";
    $('.init_remove'+tr_id).empty()
    }

    function instruction_field_remove(val){
    
    var tr_id = val
    $('.instruct_remove'+tr_id).hide()
    div_update = document.getElementsByClassName("instruct_remove"+tr_id).innerHTML = "";
    $('.instruct_remove'+tr_id).empty()
   
    }
 
 

    function section_question(data_id){

      var modal_id = $("#section_id"+data_id).val();
      var modal_name = data_id+"-"+modal_id
      var section_status = $(".section_status"+data_id).val();
      if (section_status == "False"){
        value = $('.first_open'+data_id).val()
        if (value == "second"){
        modal_id_new = parseInt(modal_id)-parseInt(1)
        var modal_name2 = data_id+"-"+modal_id_new
        $('.question-modal-'+modal_name2).modal('show');
        }
        else{
            var isClassExist = document.getElementsByClassName('question-modal-'+modal_name);
            if (isClassExist.length > 0) {
                $('.question-modal-'+modal_name).modal('show');
                $('.first_open'+data_id).val("new")
            }
          else{
          $.ajax(
        {
            type:"GET",
            url: "open_section_based_question",
            data:{
                    modal_id: modal_id,
                    data_id:data_id
            },
            success: function( data ) 
            {
              var modal_name = data_id+"-"+modal_id
              $("#apppend_child"+data_id).append(data)
              $('.question-modal-'+modal_name).modal('show');
              let total = parseInt(modal_id) + 1
              $("#section_id"+data_id).val(total);
            }
        })
        }
    }
      }
      else{

        $.ajax(
        {
            type:"GET",
            url: "open_section_based_question",
            data:{
                    modal_id: modal_id,
                    data_id:data_id
            },
            success: function( data ) 
            {
              var modal_name = data_id+"-"+modal_id
              $("#apppend_child"+data_id).append(data)
              $('.question-modal-'+modal_name).modal('show');
              let total = parseInt(modal_id) + 1
              $("#section_id"+data_id).val(total);
            }
        })
        $('.first_open'+data_id).val("second")
      } 
    }



    

    function direct_question_btn(){
      var modal_name1 = i+"-"+i
           var isClassExist = document.getElementsByClassName('question-modal-'+modal_name1);
            if (isClassExist.length > 0) {
                $('.question-modal-'+modal_name1).modal('show');
            }
          else{

    $.ajax(
    {
        type:"GET",
        url: "open_section_based_question",
        data:{

            modal_id: i,
            data_id:i,
            status:'direct_question'
        },
        success: function( data ) 
        {
          var modal_name = i+"-"+i
           
          $(".direct_question_modal").append(data)
          $('.question-modal-'+modal_name).modal('show');
            
        } 
     })
    }
    }

    
    </script>



<script>
    $(".submit_action").submit(function(){
  
      event.preventDefault()
      $.ajax({   
  
      url: "validation_check",                    
      data: {
  
        section_line : $(".section_line").val(),
        initial_count : $(".initial_count").val(),
       
        // initial_type : $(".initial_type`+initial_count+`").val(),
        // initial_answer : $(".initial_answer").val(),
  
      },
          success: function (data) {  
              status = data['message']
              if(status == "sectionFalse"){
                  var toastMixin = Swal.mixin({
                  toast: true,
                  icon: 'error',
                  title: 'General Title',
                  animation: false,
                  position: 'top-right',
                  showConfirmButton: false,
                  timer: 1000,
                  timerProgressBar: true,
                  didOpen: (toast) => {
                  toast.addEventListener('mouseenter', Swal.stopTimer)
                  toast.addEventListener('mouseleave', Swal.resumeTimer)
                  }
                  });
                  toastMixin.fire({
                  animation: true,
                  title: 'Add atleast one question'
                  });
              }
              else{
                 
                document.forms["exam_form"].submit();
                 
             }
            }
    })
  })
  
  </script>
  
  
  <script>


$(".lang_class").click(function(){
   
    var val1 = $(this).attr('data-id')

    if ($(this).is(':checked')) {
        $(".lang"+val1).show()
      
    } else {
        $(".lang"+val1).hide()
      
    }
})



    function lang_class(){

      var checks = $('.lang_class:checked').map(function() {
        preferred_lang = $(this).val();
  
      return $(this).val();
    }).get()
   
    console.log(checks);
    }
  </script>
  
  




{% endblock %}