{% extends 'base.html' %}
{% load static %}
{% load  edit_language %}


{% block content1 %}
<ul class="navbar-nav1 bg-2 col">

    <li class="nav-item d-none d-sm-inline-block">
        <a href="" class="nav-link"> Exams</a>
    </li>
    <li class="nav-item d-none d-sm-inline-block">
        <a href="" class="nav-link"> Participations </a>
    </li>
    <li class="nav-item d-none d-sm-inline-block dropdown nav-drp">
        <a href="#" class="nav-link dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Questions & Answers </a>


        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item d-flex align-item-center" href="questions.html">Questions</a>
            <a class="dropdown-item d-flex align-item-center" href="#">Suggested Values</a>
            <a class="dropdown-item d-flex align-item-center" href="#">Detailed Answers</a>
        </div>


    </li>

</ul>

{% endblock %}

{% block content %}

            <!-- Start Page content -->
            <div class="content">
                <div class="background-bg">
                    <div class="row">
                        <div class="col-md-12 px-0">
                            <div class="">

                                <div class="">
                                    <div class="card-section-head d-flex align-items-center justify-content-between">
                                        <h2 class="main-heading-txt">Exam Management</h2>
                                        <div class="d-flex align-items-center  p-l-5 p-r-5">
                                            <div class="dropdown">
                                                <a class="btn list-option dropdown-toggle" role="button" id="dropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><svg width="16" height="14" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M12 1.5H19M12 6.5H19M1 11.5H19M1 16.5H19M7.5 5.43V2.57C7.5 1.45 7.05 1 5.92 1H3.07C1.95 1 1.5 1.45 1.5 2.57V5.42C1.5 6.55 1.95 7 3.07 7H5.92C7.05 7 7.5 6.55 7.5 5.43Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                                    </svg>
                                                    List
                                                </a>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                    <a class="dropdown-item" href="#">Action</a> <a class="dropdown-item" href="#">Another action</a> <a class="dropdown-item" href="#">Something else here</a>
                                                </div>
                                            </div>
                                            <div class="dropdown">
                                                <a class="btn btn-pad filter-option dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <svg width="18" height="18" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M12.3037 16.3847C12.3037 16.9088 11.9601 17.5961 11.5219 17.8625L10.3104 18.6444C9.18486 19.3403 7.62112 18.5584 7.62112 17.1665V12.5699C7.62112 11.9598 7.27744 11.178 6.92517 10.7484L3.62586 7.27721C3.18767 6.83902 2.84399 6.06574 2.84399 5.54163V3.5483C2.84399 2.50867 3.62586 1.72681 4.57957 1.72681H16.0412C16.9949 1.72681 17.7768 2.50867 17.7768 3.46238V5.36979C17.7768 6.06574 17.3386 6.93353 16.909 7.36313" stroke="#666" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                                        <path d="M13.8073 14.1937C14.5365 14.1937 15.2358 13.904 15.7514 13.3884C16.267 12.8728 16.5567 12.1734 16.5567 11.4442C16.5567 10.7151 16.267 10.0157 15.7514 9.50011C15.2358 8.9845 14.5365 8.69482 13.8073 8.69482C13.0781 8.69482 12.3788 8.9845 11.8631 9.50011C11.3475 10.0157 11.0579 10.7151 11.0579 11.4442C11.0579 12.1734 11.3475 12.8728 11.8631 13.3884C12.3788 13.904 13.0781 14.1937 13.8073 14.1937ZM17.0722 14.7092L16.213 13.85Z" fill="#D6D6D6"/>
                                                        <path d="M17.0722 14.7092L16.213 13.85M13.8073 14.1937C14.5365 14.1937 15.2358 13.904 15.7514 13.3884C16.267 12.8728 16.5567 12.1734 16.5567 11.4442C16.5567 10.7151 16.267 10.0157 15.7514 9.50011C15.2358 8.9845 14.5365 8.69482 13.8073 8.69482C13.0781 8.69482 12.3788 8.9845 11.8631 9.50011C11.3475 10.0157 11.0579 10.7151 11.0579 11.4442C11.0579 12.1734 11.3475 12.8728 11.8631 13.3884C12.3788 13.904 13.0781 14.1937 13.8073 14.1937Z" stroke="#666" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                        </svg> Filters
                                                </a>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                    <a class="dropdown-item" href="#">Action</a> <a class="dropdown-item" href="#">Another action</a> <a class="dropdown-item" href="#">Something else here</a>
                                                </div>
                                            </div>
                                            <div class="dropdown">
                                                <a class="btn btn-pad filter-option dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <svg width="16" height="18" viewBox="0 0 20 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M11.01 1.92007L16.91 4.54007C18.61 5.29007 18.61 6.53007 16.91 7.28007L11.01 9.90007C10.34 10.2001 9.24002 10.2001 8.57002 9.90007L2.67002 7.28007C0.97002 6.53007 0.97002 5.29007 2.67002 4.54007L8.57002 1.92007C9.24002 1.62007 10.34 1.62007 11.01 1.92007Z" fill="#D6D6D6" stroke="#666" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                        <path d="M1 10C1 10.84 1.63 11.81 2.4 12.15L9.19 15.17C9.71 15.4 10.3 15.4 10.81 15.17L17.6 12.15C18.37 11.81 19 10.84 19 10" stroke="#666" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                        <path d="M1 15C1 15.93 1.55 16.77 2.4 17.15L9.19 20.17C9.71 20.4 10.3 20.4 10.81 20.17L17.6 17.15C18.45 16.77 19 15.93 19 15" stroke="#666" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                        </svg> Group By
                                                </a>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                    <a class="dropdown-item" href="#">Action</a> 
                                                    <a class="dropdown-item" href="#">Another action</a> 
                                                    <a class="dropdown-item" href="#">Something else here</a>
                                                </div>
                                            </div>
                                            <div class="search-box">
                                                <input type="search" class="inp-search" placeholder="Search here"> &ensp;
                                                <a href="exam-create"> <button type="button" class="btn btn-pink waves-effect waves-light"><i class="fa fa-plus mr-1"></i>Create</button></a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mt-1">

                                        <div class="col-md-12 col-sm-12 col-12 px-0">
                                            <!-- datatable id= "datatable" -->
                                            <table id="datatable" class="table table-striped dt-responsive  nowrap table-padd" style="border-collapse: collapse; border-spacing: 0; width: 100%;">

                                                <thead class="">

                                                    <tr class="heading-text">
                                                        <th>S/No</th>
                                                        <th>Exam Title</th>
                                                        <th>Responsible</th>
                                                        <th>Created at</th>
                                                        <th>Questions</th>
                                                        <th>Average Duration</th>
                                                        <th>Registered</th>
                                                        <th>Completed</th>
                                                        <th>Status</th>
                                                        <th></th>
                                                        <th></th>

                                                    </tr>
                                                </thead>


                                                <tbody class="body-textcls vertcle-center">
                                                    {% for i in exam_details %}
                                                    <tr>
                                                        <td>{{forloop.counter}}.</td>
                                                        <td><a href="edit_exam?type={{i.id}}">{{i.Exam_title}}</a></td>
                                                        <td>
                                                            <div class="created-user d-flex align-items-center">
                                                                <img src="./static/admin/img/users/user-dummy-img.jpg" alt="">
                                                                <h6>{{i.responsible_person}}</h6>
                                                            </div>
                                                        </td>

                                                        <td>{{i.created_dt|safe}}</td>
                                                        <td>{{i.Section_Question_Mapping_exam_id.all.count}}</td>
                                                        <td> {% if i.Exam_time_limit|safe == "00:00:00" %}
                                                            -:-:-
                                                            {% else %}
                                                                {{ i.Exam_time_limit|safe }} Min
                                                            {% endif %}
                                                        </td>
                                                        <td>
                                                            {{i.Exam_attend_user_exam_id.all.count}}
                                                        </td>
                                                        
                                                        <td>
                                                            
                                                            {{ i.id|count_of_Registered:True }}</td>


                                                        <td class="pass-progress">
                                                            <!-- certified -->
                                                            <div class="d-flex align-item-center">
                                                                <h6 class="pr-1 margin-class">Certified</h6>
                                                                <div class="progress-bar">
                                                                    <div class="bar yello-bar" data-size="50">
                                                                        <span class="perc"></span>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <!-- <div class="d-flex align-item-center">
                                                                <h6 class="pr-1">Passed</h6>
                                                                <div class="progress-bar">
                                                                    <div class="bar" data-size="100">
                                                                        <span class="perc"></span>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="d-flex align-item-center">
                                                                <h6 class="pr-1">Passed</h6>
                                                                <div class="progress-bar">
                                                                    <div class="bar ligh-red" data-size="30">
                                                                        <span class="perc"></span>
                                                                    </div>
                                                                </div>
                                                            </div> -->
                                                        </td>

                                                        <td>
                                                            <a href=""><button type="button" class="btn sv-btn waves-effect waves-light exm-btns">Test</button></a>
                                                            <a href="see_result_admin?exam_id={{i.id}}"><button type="button" class="btn btn-see waves-effect exm-btns">See Result</button></a>
                                                            <a href="attend_user?exam_id={{i.id}}"><button type="button" class="btn btn-see waves-effect exm-btns">Attended User</button></a>
                                                        </td>
                                                        <td>
                                                            <div class="action-tbl d-flex justify-content-end ">
                                                                <a href="#">
                                                                    <svg width="14" height="14" viewBox="0 0 20 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                    <path d="M16 7C17.6569 7 19 5.65685 19 4C19 2.34315 17.6569 1 16 1C14.3431 1 13 2.34315 13 4C13 5.65685 14.3431 7 16 7Z" stroke="#666" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                                    <path d="M4 14C5.65685 14 7 12.6569 7 11C7 9.34315 5.65685 8 4 8C2.34315 8 1 9.34315 1 11C1 12.6569 2.34315 14 4 14Z" stroke="#666" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                                    <path d="M16 21C17.6569 21 19 19.6569 19 18C19 16.3431 17.6569 15 16 15C14.3431 15 13 16.3431 13 18C13 19.6569 14.3431 21 16 21Z" stroke="#666" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                                    <path d="M6.59009 12.51L13.4201 16.49" stroke="#666" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                                    <path d="M13.4101 5.51001L6.59009 9.49001" stroke="#666" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                                    </svg>
                                                                </a>

                                                                <a href="edit_exam?type={{i.id}}">
                                                                    <svg width="12" height="14" viewBox="0 0 21 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                        <path d="M12.0031 2.73386L2.2511 13.2039C1.88287 13.6015 1.52653 14.3846 1.45526 14.9268L1.01576 18.8305C0.861345 20.2402 1.85912 21.204 3.23699 20.9631L7.06178 20.3004C7.5963 20.204 8.34463 19.8064 8.71286 19.3968L18.4649 8.92673C20.1516 7.11947 20.9118 5.0592 18.2867 2.54109C15.6735 0.0470745 13.6898 0.926606 12.0031 2.73386Z" stroke="#666" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                                                        <path d="M10 5C10.2308 6.56216 10.9453 7.99899 12.0312 9.08495C13.1172 10.1709 14.5131 10.8445 16 11" stroke="#666" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                                                        </svg>
                                                                </a>

                                                                <a href="#" onclick="exam_delete_btn(`{{i.id}}`)">
                                                                    <svg width="12" height="14" viewBox="0 0 20 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                        <path d="M19 4.98C15.67 4.65 12.32 4.48 8.98 4.48C7 4.48 5.02 4.58 3.04 4.78L1 4.98M6.5 3.97L6.72 2.66C6.88 1.71 7 1 8.69 1H11.31C13 1 13.13 1.75 13.28 2.67L13.5 3.97M16.85 8.14L16.2 18.21C16.09 19.78 16 21 13.21 21H6.79C4 21 3.91 19.78 3.8 18.21L3.15 8.14M8.33 15.5H11.66M7.5 11.5H12.5" stroke="#666" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                                        </svg>

                                                                </a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>










<div id="delete_initial_field_div12">

</div>


<script>
    function exam_delete_btn(data){

        var url = "exam_details_delete";
                    $.ajax({
                        url: url,
                        data: {
                            'id': data
                        },
                        success: function (data) {
                            $("#delete_initial_field_div12").html(data);
                            $('#delete_initial_field_modal12').modal('show');
                        }
                    });
    }
</script>


{% endblock %}