
<div id="question-modal" class="modal fade question-modal-{{value1}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true" style="display: none">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        <form class="forms-sample" action="Question_Management_update" method="POST" enctype="multipart/form-data">
            {% csrf_token %}   
                <div class="modal-header">
                <h4 class="modal-title mt-0">Question</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span> 
                </button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="hidden"
                            name="updated_id" value="{{data.id}}">
                            <input type="hidden" value="{{modal_id}}" class="add_line_count{{value1}}">
                            <input type="hidden" value="{{value1}}" name="question_model_name">

                            
                            <label for="field-1" class="control-label">Question</label>
                            <div class="input-group">
                                <input type="text" class="inputfile form-control mb-0" name="question_name"
                                    placeholder="" value="{{data.Question}}">
                                <div class="input-group-append">
                                    <button type="button" class="input-group-text" data-toggle="modal"
                                        data-target="#language-modal">
                                        <i class="fas fa-language"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <input type="hidden" name="question_remove_status" value="0" id="question_remove_id{{data.id}}">

                    <div class="col-md-6 input-group uploadFile1 question_upload_image_address"  {% if data.Imagefield %} style="display: none;" {% endif %} >
                        <div class="form-group">
                            <label for="field-1" class="control-label"></label>
                            <div class="input-group mt-1">
                                <input type="file" accept="image/*,.pdf,.txt,.doc,.docx," name="question_image" class="inputfile form-control" onchange="question_image_upload(`{{data.id}}`)">                             
                            </div>
                        </div>
                    </div>

                    {% if data.Imagefield == "" or data.Imagefield == None %}

                    {% else %}

                    <div class="col-md-6 input-group uploadFile1 question_image_address_view">
                        <div class="form-group">
                            <label for="field-1" class="control-label"></label>
                            <div class="input-group mt-1">
                                <input type="text"  value="{{data.Imagefield}}"  class="inputfile form-control" name="file" >
                                <span class="input-group-text" onclick="question_remove_image(`{{data.id}}`)" ><i class="fa fa-trash" style="cursor: pointer;" ></i></span>
                            </div>
                        </div>
                    </div>



                    {% endif %}


                    <div class="col-md-12">
                        <div class="row answer-type">
                            <div class="col-md-3 br-right d-flex align-items-start px-0">
                                <label>Question Type</label>
                            </div>
                            <div class="col-md-9 px-2">
                                <div class="form-group d-flex align-items-center">
                                    <input type="radio"  name="Question_type"  {% if data.Question_type == "Radio" %} checked {% endif %} value="Radio" >
                                    <label for="customer">Multiple choice: only one answer</label>
                                </div>
                                <div class="form-group d-flex align-items-center">
                                    <input type="radio" name="Question_type" {% if data.Question_type == "Checkbox" %} checked {% endif %} value="Checkbox" > <span style="font-size: 12px;">
                                    <label for="customer">Multiple choice: multiple answers</label>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-12 mt-3">
                        <div class="paytab">
                            <ul class="nav nav-tabs nav-pay mb-2" role="tablist">
                                <li class="nav-item d-flex align-items-center">
                                    <a class="nav-link active" data-toggle="tab" href="#Answers1{{value1}}" role="tab">
                                        Answers
                                    </a>
                                </li>
                                <li class="nav-item d-flex align-items-center">
                                    <a class="nav-link" data-toggle="tab" href="#Options1{{value1}}" role="tab">
                                        Options
                                    </a>
                                </li>
                                <li class="nav-item d-flex align-items-center">
                                    <a class="nav-link" data-toggle="tab" href="#Description1{{value1}}" role="tab">
                                        Description
                                    </a>
                                </li>

                            </ul>
                            <div class="tab-content small-form">
                                <div class="tab-pane active" id="Answers1{{value1}}" role="tabpanel">
                                    <div class="mt-3">
                                        <div class="mb-2">
                                            <button type="button" class="btn btn-prim pay" onclick="choice_add_fun(`{{value1}}`)">
                                                Add a Line
                                            </button>

                                        </div>
                                        <table class="table table-qstn dt-responsive table-bordered nowrap table-padd"
                                            style="border-collapse: collapse; border-spacing: 0; width: 100%;">

                                            <thead class="border-class">
                                                <tr class="heading-text">
                                                    <th>Choices</th>
                                                    <th>Is a correct answer</th>
                                                    <th>Score for this choice</th>
                                                    <th>Image</th>
                                                    <th></th>
                                                </tr>
                                            </thead>


                                            <tbody class="body-textcls vertcle-center">

                                                {% for i in data.Exam_section_exam_id.all %}
                                                <tr>
                                                    <td>
                                                        <input type="hidden" name="choice_update[]" value="{{i.id}}">
                                                        <input type="text" class="form-control" name="question_choice[]" value="{{i.choice}}">
                                                    </td>

                                                    <td>
                                                        <input type="checkbox" class="form-control" value="{{i.id}}" name="answer[]" {% if i.result_status %} checked {% else %}  {% endif %} >
                                                    </td>

                                                    <td>
                                                        <input type="number" class="form-control" name="Score[]" value="{{i.Mark}}">
                                                    </td>

                                                    <td>
                                                        <input type="hidden" name="remove_status[]" value="0" id="remove_id{{i.id}}">

                                                        <div class="input-group uploadFile1 upload_image_address{{i.id}}" {% if i.Imagefield %} style="display: none;" {% endif %} >
                                                            <input type="file" class="inputfile form-control mb-0"
                                                                name="exam_choice_image[]" onchange="image_upload(`{{i.id}}`)" >
                                                            <div class="input-group-append" >
                                                                <span class="input-group-text"> <i
                                                                        class="fas fa-paperclip" ></i></span>
                                                            </div>
                                                        </div>

                                                        {% if i.Imagefield == "" or i.Imagefield == None %}

                                                        {% else %}
                                                        
                                                        <!-- image  -->
                                                        <div class="input-group uploadFile1 image_address_view{{i.id}}">
                                                            <input type="text"  value="{{i.Imagefield}}"  class="inputfile form-control mb-0"
                                                                name="file" >
                                                            <div class="input-group-append">
                                                                <span class="input-group-text" onclick="remove_image(`{{i.id}}`)" ><i
                                                                        class="fa fa-trash" ></i></span>
                                                            </div>
                                                        </div>

                                                        {% endif %}

                                                    </td>

                                                    <td>
                                                        <div class="action-tbl d-flex justify-content-end">
                                                            <i class="fa fa-trash-o mx-1 trash-btn" style="cursor: pointer;"
                                                                data-toggle="tooltip" data-placement="top" title=""
                                                                data-original-title="Delete" onclick="choice_option_delete_btn(`{{i.id}}`)"></i>

                                                        </div>
                                                    </td>

                                                </tr>
                                                {% endfor %}
                                            </tbody>

                                            <tbody class="body-textcls vertcle-center" id="choice_add{{value1}}">
                             

                                            </tbody>

                                        </table>
                                    </div>
                                </div>
                                <div class="tab-pane sales_purchase" id="Options1{{value1}}" role="tabpanel">

                                    <div class="row mb-2 question-options">
                                        <div class="col-md-6 px-0">
                                            <h5>Constraints</h5>
                                            <div class="row">
                                                <div
                                                    class="col-md-5 br-right d-flex align-items-center px-0 px-0">
                                                    <h6>Mandatory Answer</h6>
                                                </div>
                                                <div
                                                class="col-md-7 d-flex align-items-center r-day">
                                                <input type="checkbox" id="" name="manadatory" value="True"   {% if data.manadatory %} checked {% endif %} >{{data.manadatory}}
                                            </div>
                                            </div>
                                        </div>


                                        <div class="col-md-6">
                                            <h5>Layout</h5>

                                            <div class="row">
                                                <div
                                                    class="col-md-5 br-right d-flex align-items-center px-0">
                                                    <h6>Comment Message</h6>
                                                </div>
                                                <div
                                                    class="col-md-7 d-flex align-items-center r-day">
                                                    <input type="text" name="question_comment{{data_id}}" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <div class="col-md-6 px-0">
                        
                                            <h5>Answers</h5>
                                            <div class="row">
                                                <div
                                                    class="col-md-5 br-right d-flex align-items-center px-0">
                                                    <h6>Randomized Answer</h6>
                                                </div>
                                                <div class="col-md-7">
                                                    <div class="form-group mt-2 d-flex align-items-center">
                                                        <input type="checkbox" id="r-day" class="" name="randomized_check" {% if data.random_type %} checked {% endif %}  value="True">
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-md-6">
                                            <h5>Live Session</h5>

                                            <div class="row">
                                                <div class="col-md-5 br-right d-flex align-items-center px-0">
                                                    <h6>Question Time Limit</h6>
                                                </div>
                                                <div class="col-md-7 d-flex align-items-center r-day">
                                                    <input type="checkbox" id="r-day">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane descptn" id="Description1{{value1}}" role="tabpanel">
                                    <div class="row">
                                        <div class="col-md-12 px-0">
                                            <textarea name="Description" id="" cols="30" rows="5" class="form-control border-0"
                                                placeholder="e.g. Guidelines, instructions, picture, ... to help attendees answer">{{data.Description}}</textarea>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

                <button type="submit" style="background-color:#f9365f!important;border: none!important;"
                    class="btn btn-info waves-effect waves-light">Save </button>
            </div>
        </form>
        </div>
    </div>
</div>

<div id="delete_initial_field_div12">

</div>




<script>
    function remove_image(data) {
      
        $("#remove_id"+data).val(1)
        $(".image_address_view"+data).hide()
        $(".upload_image_address"+data).show()
    }

    function image_upload(data){
        $("#remove_id"+data).val(1)
    }



    function question_remove_image(data) {
      $("#question_remove_id"+data).val(1)
      $(".question_image_address_view").hide()
      $(".question_upload_image_address").show()
    }

    function question_image_upload(data){
        $("#question_remove_id"+data).val(1)
    }


</script>



<script>
    function choice_option_delete_btn(data){

        var url = "choice_option_delete";
                    $.ajax({
                        url: url,
                        data: {
                            'id': data
                        },
                        success: function (data) {
                            $("#delete_initial_field_div12").html(data);
                            $('#delete_initial_field_modal12').modal('show');
                        }
                    });
    }
</script>


<script>
    
    function choice_add_fun(val1){

    var add_line_count = $(".add_line_count"+val1).val();

    if ($(".question_type_radio"+val1).is(":checked")){
      question_type = "radio"
      
    }
    else if($(".question_type_checkbox"+val1).is(":checked")){
        question_type = "checkbox"
        }
  
      var file_status = 'none'

    if($(".file_field"+val1).is(":checked")){
      file_status = 'show'
  
      $(".file_td"+val1).show()
      $(".file_th"+val1).show()
    }
  
    
    $("#choice_add"+val1).append(`<tr class="tr_choice_remove`+add_line_count+`" >

        <td>
            <div class="input-group">
            <input type="text" onchange="choice_value(this,`+add_line_count+`)"  name="question_choice`+add_line_count+``+'-'+`{{value1}}"  class="form-control">
            </div> 
            <input type="hidden" value=`+add_line_count+` name="question_line_count{{value1}}">
            </td>
          
            <td>
                <div style="margin-left:47px;" class="input-group date">
                <input  type="checkbox"  name="addline_check`+add_line_count+``+'-'+`{{value1}}" value="True">
                </div></td>
            <td>
                  
            <input style="border: 1px solid #e8ecf1; 
            font-size: 0.8125rem;" name="Score`+add_line_count+``+'-'+`{{value1}}" value="0" class="form-control" type="number" >
            </td>

            <td  class="file_td`+val1+`">
                <div class="input-group uploadFile1">
                    <input type="file" accept="image/*,.pdf,.txt,.doc,.docx," name="question_image_choice`+add_line_count+``+'-'+`{{value1}}" class="inputfile form-control mb-0" >
                    <div class="input-group-append">
                        <span class="input-group-text"> <i class="fas fa-paperclip"></i></span>
                    </div>
                </div>
            </td>

            <td>
                <div class="action-tbl d-flex justify-content-end">
                    <i class="fa fa-trash-o mx-1 trash-btn" onclick="choice_remove(`+add_line_count+`)"
                    title="" data-original-title="Delete"></i>
                </div>
           

            <div id="choice_modal-`+add_line_count+`-{{value1}}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true" style="display: none">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title mt-0">Language</h4>
                        <button type="button" class="close" data-dismiss-modal="modal3" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="field-1" class="control-label">English</label>
                                    <div class="input-group">
                                
                                        <input type="text"  name="eng_choice`+add_line_count+`-{{value1}}"  class="inputfile form-control mb-0 choice_val-`+add_line_count+`-{{value1}}"  placeholder="">
                                        <div class="input-group-append">
                                            <span  class="input-group-text"><img src="img/language/english.jpg" alt="" style="height: 20px;"></span>
                                        </div> 
                                    </div>
                                </div>

                            <div class="col-md-12" >
                                <div class="form-group langar" style="display: none;">
                                    <label for="field-1" class="control-label">Arabic</label>
                                    <div class="input-group">
                                
                                        <input type="text" name="ar_choice`+add_line_count+`-{{value1}}" class="inputfile form-control mb-0 choice_val-`+add_line_count+`-{{value1}}"  placeholder="">
                                        <div class="input-group-append">
                                            <span  class="input-group-text"><img src="img/language/arabic.jpg" alt="" style="height: 20px;"></span>
                                        </div> 
                                </div>
                            </div>

                            <div class="col-md-12" >
                                <div class="form-group langhi" style="display: none;">
                                    <label for="field-1" class="control-label">Hindi</label>
                                    <div class="input-group">
                                
                                        <input type="text" name="hi_choice`+add_line_count+`-{{value1}}" class="inputfile form-control mb-0 choice_val-`+add_line_count+`-{{value1}}"  placeholder="">
                                        <div class="input-group-append">
                                            <span  class="input-group-text"><img src="img/language/hindi.jpg" alt="" style="height: 20px;"></span>
                                        </div> 
                                </div>
                            </div>
                            </div>

                            <div class="col-md-12" >
                                <div class="form-group langta" style="display: none;">
                                    <label for="field-1" class="control-label">Tamil</label>
                                    <div class="input-group">
                                
                                    <input type="text" name="ta_choice`+add_line_count+`-{{value1}}" class="inputfile form-control mb-0 choice_val-`+add_line_count+`-{{value1}}"  placeholder="">
                                    <div class="input-group-append">
                                        <span  class="input-group-text"><img src="img/language/hindi.jpg" alt="" style="height: 20px;"></span>
                                    </div> 
                                </div>
                            </div>
                            </div>

                            <div class="col-md-12" >
                                <div class="form-group langur" style="display: none;">
                                    <label for="field-1" class="control-label">Urdu</label>
                                    <div class="input-group">
                                
                                        <input type="text" name="ur_choice`+add_line_count+`-{{value1}}" class="inputfile form-control mb-0 choice_val-`+add_line_count+`-{{value1}}"  placeholder="">
                                        <div class="input-group-append">
                                            <span  class="input-group-text"><img src="img/language/hindi.jpg" alt="" style="height: 20px;"></span>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                        </div>

                    <div class="modal-footer">
                        <button type="button" data-dismiss-modal="modal3" style="background-color:#f9365f!important;border: none!important;"
                        class="btn btn-info waves-effect waves-light">Save </button>
                    </div>
                </div>
            </div>
                    </div>
                </div>
            </div>
            </div>
        </td>
        
          </tr>`)
  
          var checks = $('.lang_class:checked').map(function() {
          var data =  $(this).val()
          $(".lang"+data).show()
          }).get()
  
  
    $("button[data-dismiss-modal=modal3]").click(function(){
      var modal_name = add_line_count+"-"+`{{value1}}`
  
        $('#choice_modal-'+modal_name).modal('hide');
        });
   
        let total1 = parseInt(add_line_count) + 1
        $(".add_line_count"+val1).val(total1);
  
      }


    function choice_remove(val){
     
     var tr_id = val
     $('.tr_choice_remove'+tr_id).hide()
     div_update = document.getElementsByClassName("tr_choice_remove"+tr_id).innerHTML = "";
     $('.tr_choice_remove'+tr_id).empty()
     }

</script>


