def save_section_question_action(request):
    if request.method == "POST":
        
        updated_id = request.POST.get("updated_id")
        button_status =  request.GET.get("button_status")
        exam_id =  request.GET.get("exam_id")
        section_line = request.POST.getlist("section_line")
        section_line_count = request.POST.getlist("section_line_count")
        modal_status = request.POST.getlist("modal_status")
        section_count = updated_id
        question = request.POST.get("question_name"+str(section_count))
        eng_question = request.POST.get("eng_question")
        ar_question = request.POST.get("ar_question")
        hi_question = request.POST.get("hi_question")
        ur_question = request.POST.get("ur_question")
        ta_question = request.POST.get("ta_question")

        print("question::::::::::::::::",question)

        print("eng_question::::::::::::::::",eng_question)
        print("eng_question::::::::::::::::",ar_question)

        question_description = request.POST.get("qstn_descriptn"+str(section_count))
        question_comment = request.POST.get("question_comment"+str(section_count))
        model_count = request.POST.get("question_model_name"+str(section_count))

        question_type = request.POST.get("question_type"+model_count)
        question_mandatory = request.POST.get("question_mandatory"+model_count,False)


        if modal_status == "direct_question" :
            section_save = Main_Exam_section.objects.create(Exam_id_id = exam_id ,section_title = question,
                        section_type = "Question",
                        created_by = request.user
                        )
        else:   

            pass

        try:
            question_image = request.FILES['question_image'+model_count]
            import os
            extension = os.path.splitext(str(question_image))[1]
            print("extension:::",extension)
            if extension == ".pdf" or extension == ".txt" or extension == ".doc" or extension == ".docx" :
                image_new1 = question_image
            else:
                fixed_height = 758
                image = Image.open(question_image)
                print("image.size",image.size)
                width_size = int(fixed_height/image.height * image.width)
                resized_image = image.resize((width_size,fixed_height))
                print("resizeeeeeed:",resized_image.size)
                from django.conf import settings
                resized_image.save("media/user_image/"+question_image.name)
                image_new1 = 'user_image/'+question_image.name


            question_save = Main_Question_Bank.objects.create(Question=question,question_ar=ar_question,question_en=eng_question,question_hi=hi_question,question_ur=ur_question,question_ta=ta_question,
                Description =  question_description, Question_type = question_type,created_by = request.user,
                comments = question_comment,Imagefield =image_new1,manadatory = question_mandatory)


            if modal_status == "direct_question":
                section_save.Question_bank_id_id = question_save.id
                section_save.save()
                Section_Question_Mapping.objects.create(Section_id_id = section_save.id,Question_id_id = question_save.id,created_by = request.user)

            else:

                Section_Question_Mapping.objects.create(Section_id_id = updated_id,Question_id_id = question_save.id,created_by = request.user)
        

             # Question_Bank_multiple_choice save 
            question_line_count = request.POST.getlist("question_line_count"+model_count)
            total_score = 0
            for  choice_count in question_line_count:
                choice_data = request.POST.get("question_choice"+choice_count+'-'+model_count)
                eng_choice = request.POST.get("eng_choice"+choice_count+'-'+model_count)
                ar_choice = request.POST.get("ar_choice"+choice_count+'-'+model_count)
                hi_choice = request.POST.get("hi_choice"+choice_count+'-'+model_count)
                ur_choice = request.POST.get("ur_choice"+choice_count+'-'+model_count)
                ta_choice = request.POST.get("ta_choice"+choice_count+'-'+model_count)
                result_status = request.POST.get("addline_check"+choice_count+'-'+model_count,False)
                Score = request.POST.get("Score"+choice_count+'-'+model_count,False)
                if (result_status == "True"):
                    total_score += int(Score)
                try:
                    file_data = request.FILES['question_image_choice'+choice_count+'-'+model_count]
                    import os
                    extension = os.path.splitext(str(file_data))[1]
                    print("extension:::",extension)
                    if extension == ".pdf" or extension == ".txt" or extension == ".doc" or extension == ".docx" :
                        image_new1 = file_data
                    else:
                        fixed_height = 758
                        image = Image.open(file_data)
                        print("image.size",image.size)
                        width_size = int(fixed_height/image.height * image.width)
                        resized_image = image.resize((width_size,fixed_height))
                        print("resizeeeeeed:",resized_image.size)
                        from django.conf import settings
                        resized_image.save("media/Question_Bank_image/"+file_data.name)
                        image_new1 = 'Question_Bank_image/'+file_data.name
                    question_choices = Question_Bank_multiple_choice.objects.create(Question_id_id=question_save.id,choice= choice_data,choice_ar=ar_choice,choice_en=eng_choice,choice_hi=hi_choice,choice_ur=ur_choice,choice_ta=ta_choice,
                        Imagefield =  image_new1, file_type = extension, Mark = Score,result_status=result_status,created_by = request.user
                        )

                    if(result_status == "True"):
                        question_save.answer_id.add(question_choices.id)
                except:
                    question_choices = Question_Bank_multiple_choice.objects.create(Question_id_id=question_save.id,choice= choice_data,choice_ar=ar_choice,choice_en=eng_choice,choice_hi=hi_choice,choice_ur=ur_choice,choice_ta=ta_choice,
                        Mark = Score,result_status=result_status,created_by = request.user
                        )
                    if(result_status == "True"):
                        question_save.answer_id.add(question_choices.id)
                        pass
            question_save.total_mark = total_score
            question_save.save()
        except:
            pass
        messages.success(request, "Added Successfully")
        return redirect(request.META['HTTP_REFERER'])




    def open_section_based_question_edit(request):

        button_status =  request.GET.get("button_status")
        modal_id = request.GET.get("modal_id")
        data_id = request.GET.get("data_id")
        value1 = str(data_id)+"-"+str(modal_id)
        status =  request.GET.get("status")
        if status == "section_question":
            section_id = Main_Exam_section.objects.get(id=data_id)
        else:
            section_id = 0
    
        context = {
            "value1":value1,
            "modal_id":modal_id,
            "data_id":data_id,
            "status":status,
            "button_status":button_status,
            "section_id":section_id,
        }
        
        return render(request,'open_section_based_question_edit.html',context)