{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="content">
    <div class="container-fluid margin-class-this">
        <div class="row">
            <div class="col-md-12 px-0">
                <div class="card card-shadow">

                    <div class="card-body body-change card-border">
                        <div class="d-flex align-items-center justify-content-between">
                            <h2 class="main-heading-txt">User Management</h2>
                            <button type="button" class="btn btn-pink waves-effect waves-light w-md m-b-5" data-toggle="modal" data-target="#user-modal"><i class="fa fa-plus"></i> New</button>
                           
                        </div>

                        <div class="row mt-4">

                            <div class="col-md-12 col-sm-12 col-12 px-0">
                                <table id="datatable" class="table table-striped dt-responsive table-bordered nowrap table-padd" style="border-collapse: collapse; border-spacing: 0; width: 100%;">

                                    <thead class="border-class">

                                        <tr class="heading-text">
                                            <th style="width: 150px;">User Image</th>                                                           
                                            <th>Name</th>
                                          
                                            <th>Username</th>
                                            <th>Phone</th>
                                            <th>Email</th>
                                            <th>User Type</th>
                                            <th></th>
                                           
                                        </tr>
                                    </thead>


                                    <tbody class="body-textcls vertcle-center">
                                        {% for i in user_data %}
                                        <tr>
                                            <td>
                                                <div class="user-field">
                                                    <img src="./media/{{i.photo}}" alt="">
                                                </div>
                                            </td>
                                            <td>{{i.name|title}}</td>
                                           
                                            <td>{{i.username}}</td>
                                            <td>{{i.phone}}</td>
                                            <td>{{i.email}}</td>
                                            <td>
                                                {{i.user_level}}
                                            </td>
                                            <td>
                                                <div class="action-tbl d-flex justify-content-end">
                                                    <i  style="cursor: pointer;" data-id="{{i.id}}" class="fa fa-pencil mx-1 pencil-btn member_edit" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"></i>
                                                    <i style="cursor: pointer;" onclick="delete_btn(`{{i.id}}`)" class="fa fa-trash-o mx-1 trash-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"></i>
                                                 
                                                </div>
                                            </td>
                                        </tr>

                                        {% endfor %}
                                 
                                  
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>

    </div>
</div>



</div>
<!-- container -->
</div>
<!-- content -->


<div id="user-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
aria-hidden="true" style="display: none">
<div class="modal-dialog modal-lg">
<div class="modal-content">
<div class="modal-header">
    <h4 class="modal-title mt-0">Create New User</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
<div class="modal-body">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="field-1" class="control-label">Name</label>
                <input type="text" class="form-control" id="field-1" placeholder="Yourname" name="name" required>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="field-1" class="control-label">User Image</label>
                <div class="input-group uploadFile1">
                   
                    <input type="file" required class="inputfile form-control" name="photo" >
                    <div class="input-group-append">
                        <span class="input-group-text"> <i class="fas fa-paperclip"></i></span>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="field-1" class="control-label">Description</label>
                <input type="text" class="form-control" placeholder="Description">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="field-1" class="control-label">Username</label>
                <input type="text" class="form-control" placeholder="Userame" name="username" required>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="field-1" class="control-label">Phone</label>
                <input type="text" class="form-control" placeholder="9988776655" required name="phone">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="field-1" class="control-label">Email</label>
                <input type="text" class="form-control" id="field-1" placeholder="yourmail@gmail.com" required name="email">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="field-1" class="control-label">Password Option</label>
                <div class="my-1 mx-1">
                    <div class="radio form-check-inline">
                        <input type="radio" id="inlineRadio1" value="Manual" name="password_option" onclick="password_enable_btn()">
                        <label for="inlineRadio1"> Manual </label>
                    </div>
                    <div class="radio form-check-inline">
                        <input type="radio" id="inlineRadio2" value="Automatic" name="password_option">
                        <label for="inlineRadio2"> Automatic </label>
                    </div>
                </div>
                <input style="display: none;" type="password" class="form-control password_manual_id" id="field-1" name="password_field" placeholder="Enter Password">
               
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="field-1" class="control-label">User Type</label>
                <div class="my-1">
                    <div class="radio radio-primary form-check-inline">
                        <input type="radio" required name="user_level" value="Manager">
                        <label for="inlineRadio3"> Manager </label>
                    </div>
                    <div class="radio radio-primary form-check-inline">
                        <input type="radio" name="user_level" value="Normal Staff">
                        <label for="inlineRadio4"> Normal Staff </label>
                    </div>
                </div>
               
               
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="field-2" class="control-label">Manager</label>
                <select class="form-control" name="manager_id">
                    {% for data in  manager_data %}
                        <option value="{{data.auth_user.id}}">{{data.name}}</option>
                    {% endfor %}
                 </select>                                                            
            </div>
        </div>
       
        <div class="col-md-12">
            <div class="form-group">
                <label for="field-1" class="control-label">Add permission</label>
                <table id="datatable" class="table dt-responsive table-bordered nowrap usertype-tbl mt-2" style="border-collapse: collapse; border-spacing: 0; width: 100%;">


                        <tr>
                            <th class="th_btnpand">
                                <div class="appnd_user_btn append_btn" style="cursor: pointer;">+</div>
                            </th>
                            <th  class="th_user_role">Role</th>
                            <th class="th_user_decrptn">Description</th>
                            <th class="th_user_strtdate">Start Date</th>
                            <th class="th_user_enddate">End Date</th>
                        </tr>
                        <tbody class="apenduser">
                        <tr>
                            <td class="th_btnpand">
                                <div class="appnd_user_minus_btn appnd_minus_btn" style="cursor: pointer;">-</div>
                            </td>
                            <td class="th_user_role">
                                <select class="form-control" name="role_id[]">
                                    {% for role in  role_data %}
                                    <option value="{{role.id}}">{{role.role_name}}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td class="th_user_decrptn">
                                <input name="role_description[]" class="form-control">
                            </td>
                            <td class="th_user_strtdate">
                                <div class="input-group date">
                                    <input  name="role_start_dt[]" value="{{today_date|safe}}" min="{{today_date}}" type="date" class="input form-control" >
                                </div>
                            </td>
                            <td class="th_user_enddate">
                                <div class="input-group date">
                                    <input  name="role_end_dt[]" type="date" min="{{today_date}}" class="input form-control">
                                </div>
                            </td>
                        </tr>
                        </tbody>
                </table>
            </div>
        </div>

    </div>



</div>
<div class="modal-footer">

    <button type="submit" style="background-color:#f9365f!important;border: none!important;"
        class="btn btn-info waves-effect waves-light">Save </button>
</div>
</form>
</div>
</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
    $(".appnd_user_btn").click(function() {
    
        $(".apenduser").append("<tr>\n" +
            "                                    <td class=\"th_btnpand\">\n" +
            "                                        <div style=\"cursor: pointer;\" class=\"appnd_user_minus_btn appnd_minus_btn\">-</div>\n" +
            "                                    </td>\n" +
            "                                    <td class=\"th_user_role\">\n" +
            "                                        <select name=\"role_id[]\" class=\"form-control\">\n" +
            "                                            {% for role in  role_data %}\n" +
            "                                           <option value=\"{{role.id}}\">{{role.role_name}}</option>\n" +
            "                                           {% endfor %}\n" +
            "                                        </select>\n" +
            "                                    </td>\n" +
            "                                    <td class=\"th_user_decrptn\">\n" +
            "                                        <input name=\"role_description[]\" class=\"form-control\">\n" +
            "                                    </td>\n" +
            "                                 <td class=\"th_user_strtdate\">\n" +
            "                                        <div class=\"input-group date\">\n" +
            "                                            <input name=\"role_start_dt[]\" value=\"{{today_date|safe}}\" type=\"date\" class=\"input form-control\" id=\"datetimepicker\"> \n" +
            "                                        </div>\n" +
            "                                    </td>\n" +
            "                                    <td class=\"th_user_enddate\">\n" +
            "                                        <div class=\"input-group date\">\n" +
            "                                            <input name=\"role_end_dt[]\" type=\"date\"  class=\"input form-control\" id=\"datetimepicker\"> \n" +
            "                                        </div>\n" +
            "                                    </td>\n" +
                                               
            "                                </tr>");
        $(".appnd_user_minus_btn").click(function() {
            $(this).parent().parent().remove();
        });
    });
    });
    $(".appnd_user_minus_btn").click(function() {
            $(this).parent().parent().remove();
        });
</script>

<div id="member_edit_div">

</div>

<div id="delete_user_div"></div>


<script>
    $(".member_edit").click(function(){
        
        var id = $(this).attr("data-id")
        var url ="user_edit_modal";
        $.ajax({
        url: url,
        data: {
          'id': id
        },
        success: function (data) {
            $("#member_edit_div").html(data);
            $('#member_edit_modal').modal('show');
        }
      });messageCheckbox
    })


    function password_enable_btn(){

        $(".password_manual_id").show()


    }

    function delete_btn(id){
        var url ="delete_user_management";
        $.ajax({
        url: url,
        data: {
          'id': id
        },
        success: function (data) {
            $("#delete_user_div").html(data);
            $('#delete_user_modal').modal('show');
        }
      });
    }
</script>
{% endblock %}